PORT=3001
DATABASE_URL="file:./dev.db"
JWT_SECRET="super-secret-jwt"
FRONTEND_ORIGIN="http://127.0.0.1:5500"
LOG_SERVICE_URL="http://localhost:8000/api"
LOG_SERVICE_TOKEN="internal-log-token"
ANALYTICS_SERVICE_URL="http://localhost:8001"
ANALYTICS_SERVICE_TOKEN="internal-analytics-token"